In [ ]:
txt = "apple mango strawberry jam apple jam jam mango "

x = txt.count("apple")
y = txt.count("mango")
z = txt.count("strawberry")
p = txt.count("jam")


print(x,y,z,p)

2 2 1 3

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))
 
if (num1 > num2) and (num1 > num3):
   largest = num1
elif (num2 > num1) and (num2 > num3):
   largest = num2
else:
   largest = num3
 
print("The largest number is",largest)

Enter first number: 4.3
Enter second number: 3.4
Enter third number: 3
The largest number is 4.3

In [4]:
y=int(input("enter the final year"))
print("Future leap years from 2021")
for x in range (2021,y+1):
 if((x%4==0) and(x%100!=0)) or (x%100==0):
   print(x)

enter the final year2050
Future leap years from 2021
2024
2028
2032
2036
2040
2044
2048

In [ ]:
filename = input("Input the Filename: ")
f_extns = filename.split(".")
print ("The extension of the file is : " + repr(f_extns[-1]))

Input the Filename: ah.java
The extension of the file is : 'java'

In [ ]:
list = [32, 21, 0, -45, 6,-6, 9, 13, 22, 16, -9] 
for num in list:  
    if num >= 0: 
       print(num, end = " ")

32 21 0 6 9 13 22 16

In [ ]:

def swap(string): 
	
	start = string[0] 
	end = string[-1] 
	
	swapped_string = end + string[1:-1] + start 
	print(swapped_string) 
	
swap("apple") 
swap("orange")

eppla
erango

In [ ]:
def chars_mix_up(a, b):
  new_a = b[:2] + a[2:]
  new_b = a[:2] + b[2:]

  return new_a + ' ' + new_b
print(chars_mix_up('bin', 'cat'))

can bit

In [ ]:
num = [7,8, 120, 25, 44, 21, 27, 65, 218 ]
num = [x for x in num if x%2!=0]
print(num)

[7, 25, 21, 27, 65]

In [ ]:
color_list_1 = set(["Green","Blue","White" ,"Pink","Yellow","Maroon"])
color_list_2 = set(["Black", "Yellow","Red","orange"])

print(color_list_2.difference(color_list_1))

{'Black', 'Red', 'orange'}

In [1]:
def Merge(dict1, dict2):
    return(dict2.update(dict1))
dict1 = {'p': 20, 'q': 18}
dict2 = {'r': 10, 's': 5}
print(Merge(dict1, dict2))
print(dict2)

None
{'r': 10, 's': 5, 'p': 20, 'q': 18}