In [ ]:
txt = "apple mango strawberry jam apple jam jam mango "

x = txt.count("apple")
y = txt.count("mango")
z = txt.count("strawberry")
p = txt.count("jam")


print(x,y,z,p)

2 2 1 3

In [12]:
x=[]
n=int(input("enter any integers"))
for i in range(1,n+1):
 a=int(input())
 if(a>100):
  x.append('over')
 else:
  x.append(a)
print("modified list:",x)

enter any integers3
4
5
6
modified list: [4, 5, 6]

In [ ]:
import operator
d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
print('Original dictionary : ',d)
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print('Dictionary in ascending order by value : ',sorted_d)
sorted_d = dict( sorted(d.items(), key=operator.itemgetter(1),reverse=True))
print('Dictionary in descending order by value : ',sorted_d)

Original dictionary :  {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
Dictionary in ascending order by value :  [(0, 0), (2, 1), (1, 2), (4, 3), (3, 4)]
Dictionary in descending order by value :  {3: 4, 4: 3, 1: 2, 2: 1, 0: 0}

In [ ]:
num1 = int(input("Enter 1st number: "))
num2 = int(input("Enter 2nd number: "))
i = 1
while(i <= num1 and i <= num2):
  if(num1 % i == 0 and num2 % i == 0):
    gcd = i
  i = i + 1
print("GCD is", gcd)

Enter 1st number: 100
Enter 2nd number: 30
GCD is 10

In [ ]:
def common_data(list1, list2): 
    result = False
  
   
    for x in list1: 
  
       
        for y in list2: 
    
           
            if x == y: 
                result = True
                return result  
                  
    return result 
      
 
a = [1, 2, 3, 4, 5] 
b = [5, 6, 7, 8, 9] 
print(common_data(a, b)) 
  
a = [1, 2, 3, 4, 5] 
b = [6, 7, 8, 9] 
print(common_data(a, b))

True
False

In [ ]:

a_list = ["a", "b", "a"]
occurrences = a_list.count("a")
print(occurrences)

2

In [ ]:
def change_char(str1):
  char = str1[0]
  str1 = str1.replace(char, '$')
  str1 = char + str1[1:]

  return str1

print(change_char('restart'))

resta$t

In [ ]:
from math import pi
r = float(input ("Input the radius of the circle : "))
print ("The area of the circle with radius " + str(r) + " is: " + str(pi * r**2))

Input the radius of the circle : 2
The area of the circle with radius 2.0 is: 12.566370614359172

In [ ]:
color_list = ["Red","Green","White" ,"Black"]
print( "%s %s"%(color_list[0],color_list[-1]))

Red Black

In [ ]:
a = int(input("Input an integer : "))
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
print (n1+n2+n3)

Input an integer : 12
122436

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))
 
if (num1 > num2) and (num1 > num3):
   largest = num1
elif (num2 > num1) and (num2 > num3):
   largest = num2
else:
   largest = num3
 
print("The largest number is",largest)

Enter first number: 4.3
Enter second number: 3.4
Enter third number: 3
The largest number is 4.3

In [ ]:
y=int(input("enter the final year"))
print("Future leap years from 2021")
for x in range (2021,y+1):
 if((x%4==0) and(x%100!=0)) or (x%100==0):
   print(x)

enter the final year2050
Future leap years from 2021
2024
2028
2032
2036
2040
2044
2048

In [ ]:
filename = input("Input the Filename: ")
f_extns = filename.split(".")
print ("The extension of the file is : " + repr(f_extns[-1]))

Input the Filename: ah.java
The extension of the file is : 'java'

In [ ]:
list = [32, 21, 0, -45, 6,-6, 9, 13, 22, 16, -9] 
for num in list:  
    if num >= 0: 
       print(num, end = " ")

32 21 0 6 9 13 22 16

In [ ]:

def swap(string): 
	
	start = string[0] 
	end = string[-1] 
	
	swapped_string = end + string[1:-1] + start 
	print(swapped_string) 
	
swap("apple") 
swap("orange")

eppla
erango

In [ ]:
def chars_mix_up(a, b):
  new_a = b[:2] + a[2:]
  new_b = a[:2] + b[2:]

  return new_a + ' ' + new_b
print(chars_mix_up('bin', 'cat'))

can bit

In [ ]:
num = [7,8, 120, 25, 44, 21, 27, 65, 218 ]
num = [x for x in num if x%2!=0]
print(num)

[7, 25, 21, 27, 65]

In [ ]:
color_list_1 = set(["Green","Blue","White" ,"Pink","Yellow","Maroon"])
color_list_2 = set(["Black", "Yellow","Red","orange"])

print(color_list_2.difference(color_list_1))

{'Black', 'Red', 'orange'}

In [ ]:
def Merge(dict1, dict2):
    return(dict2.update(dict1))
dict1 = {'p': 20, 'q': 18}
dict2 = {'r': 10, 's': 5}
print(Merge(dict1, dict2))
print(dict2)

None
{'r': 10, 's': 5, 'p': 20, 'q': 18}

In [14]:
mylist=[2,3,-4,-5,-3,8,9,1,23,-10]
print("First list :",mylist)
newlist=[x for x in mylist if x > 0]
print("New list:",newlist)

First list : [2, 3, -4, -5, -3, 8, 9, 1, 23, -10]
New list: [2, 3, 8, 9, 1, 23]

In [16]:
print("\nSquare of n nos from given list\n")
mylist=[12,8,4,6]
print("First List",mylist);
newlist=[number ** 2 for number in mylist] 
print("new list",newlist)

Square of n nos from given list

First List [12, 8, 4, 6]
new list [144, 64, 16, 36]

In [18]:
print("\nForm a list of vowels selected from ENGLISH\n")
[x for x in 'ENGLISH' if x in ['A','E','I','O','U']]

Form a list of vowels selected from ENGLISH

['E', 'I']